
/************ navigation ***************/
#currPage{
    color: black;
    cursor: default; /* somewhat indicates it's not an actual link */
}

#navHeader{
    font-weight: bold;
    color: royalblue;
}

/*****************************************/



