
/************ navigation ***************/
#currPage{
    color: black;
    cursor: default; /* somewhat indicates it's not an actual link */
}

#navHeader{
    font-weight: bold;
    color: royalblue;
}

/*****************************************/
.inventoryItem span{
    font-size: 10pt;
}

.inventoryItem em{
    font-style: normal;
    font-weight: bold;
}



